<!DOCTYPE html>
<html>
<head>
    <title>MvcOpenID - @ViewBag.Title</title>
    <link href="@Url.Content("~/content/reset.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/site.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    @RenderSection("head", false)
</head>

<body>
    <div class="page">

        <div id="header">
            <div id="title">
                <h1>MvcOpenId</h1>
                <div class="subtitle">An OpenID Starter Kit for ASP.NET MVC</div>
            </div>

            <ul id="menu">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("User", "Index", "User")</li>
                <li>
                    @if (Request.IsAuthenticated)
                    {
                        @Html.ActionLink("Logout", "Logout", "User")
                    }
                    else
                    { 
                        @Html.ActionLink("Login", "Login", "User")
                    }
                </li>
            </ul>
        </div>

        <div id="main">
            @RenderBody()
            <div id="footer">
                Made by <a href="http://www.gorangligorin.com/" title="Goran Gligorin">Goran Gligorin</a> | <a href="http://www.24projects.com/" title="24 Projects">24 Projects</a>
            </div>
        </div>
    </div>
</body>
</html>
