@model MvcOpenID.Razor.Basic.Models.User

@{
    ViewBag.Title = "User Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>You are logged in as:</h2>

<div>@Html.ActionLink("Edit", "Edit") | @Html.ActionLink("Delete", "Delete")</div>

<fieldset>
    <legend>Fields</legend>
    <div class="display-label">Username</div>
    <div class="display-field">@Model.Username</div>

    <div class="display-label">Email</div>
    <div class="display-field">@Model.Email</div>

    <div class="display-label">FullName</div>
    <div class="display-field">@Model.FullName</div>

    <div class="display-label">OpenIDs:</div>
    <div class="display-field">
        <ul>
            @foreach (var openid in Model.OpenIds)
            {
                <li>
                    @openid.OpenIdUrl
                    @if (Model.OpenIds.Count > 1)
                    {
                        @Html.ActionLink("Remove", "RemoveOpenID", "User", new { identifier = openid.OpenIdUrl }, null)
                    }
                </li>
            }
            <li>@Html.ActionLink("Add a new OpenID", "AddOpenID", "User")</li>
        </ul>
    </div>
</fieldset>
